#header {
  height: 48px;
  width: 100%;
  padding: 0 12px;
  background-color: black;
  color: white;
  margin: 0;
  position: fixed;
  top: 0;
  z-index: 100;
}

h1,
h2,
h3 {
  margin: 0;
}

.title {
  line-height: 48px;
  font-size: 32px;
}
