#header {
  height: 48px;
  padding: 0 12px;
  background-color: black;
  color: white;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

h1,
h2,
h3 {
  margin: 0;
}

.homeLink {
  text-decoration: none;
  color: white;
  transition: color ease 200ms;
}

.homeLink:hover {
  color: #E5E2EE;
  transition: color ease 200ms;
}

.title {
  float: left;
  line-height: 48px;
  font-size: 28px;
}

.description {
  float: right;
  line-height: 48px;
  font-size: 14px;
}
