<div id="film">
  <div class="menu">
    <div class="container col-10 col-lg-8">
      <div class="item film-select dropdown">
        <div class="dropdown-trigger">
          <button class="button">
            <span>Film Type</span>
            <span class="icon">
              <i class="fas fa-angle-down"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu">
          <ul class="dropdown-menu-list">
            <li *ngFor="let film of film_types;" (click)="onFilmSelect(film.id)" class="dropdown-menu-item">{{film.name}}</li>
          </ul>
        </div>
      </div>
      <div class="item active" title="Top">
        <button class="button">
          <i class="fas fa-arrow-up"></i>
        </button>
      </div>
      <div class="item" title="Hot">
        <button class="button">
          <i class="fas fa-fire"></i>
        </button>
      </div>
      <div class="item right" title="Large">
        <button class="button">
          <i class="fas fa-square"></i>
        </button>
      </div>
      <div class="item right active" title="Small">
        <button class="button">
          <i class="fas fa-th-large"></i>
        </button>
      </div>
    </div>
  </div>
  <app-film-posts [posts]="posts" (add)="onBottomScroll($event)"></app-film-posts>
</div>
