#film {
  padding: 2px 12px;
  position: relative;
  height: 100%;
}

.container {
  position: relative;
  height: 100%;
}

.menu {
  position: fixed;
  top: 48px;
  left: 0;
  right: 0;
  height: 30px;
  z-index: 150;
  padding: 0 12px;
  margin: 0;
  background-color: #eee;
  /* border-bottom: 1px solid #ccc;
  border-top: 2px solid #666; */
}

.menu .item {
  float: left;
  margin-right: 4px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  padding: 0;
}

.menu .item.right {
  float: right;
  margin-right: 0;
  margin-left: 4px;
}

.menu .item.active button {
  color: #7272a1;
}

.menu .film-select {
  width: 84px;
  margin-right: 20px;
}

.menu .film-select:hover button {
  color: #7272a1;
}

.menu .film-select:hover .dropdown-menu {
  visibility: visible;
}

.dropdown-trigger {
  height: 30px;
  line-height: 30px;
}

.dropdown-trigger .icon {
  position: absolute;
  line-height: 30px;
  font-size: 14px;
  top: 0;
  right: 0;
}

.dropdown-menu {
  position: relative;
  visibility: hidden;
  padding: 0;
  margin: 0;
  width: 250px;
}

.dropdown-menu:active {
  visibility: hidden;
}

.dropdown-menu-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.dropdown-menu-item {
  margin: 0;
  padding: 0 12px;
  cursor: pointer;
  background-color: #eee;
}

.dropdown-menu-item:hover {
  background-color: #f6f6f6;
  color: #7272a1;
}

.button {
  color: #A1A1A1;
  position: relative;
  width: 100%;
  min-width: 24px;
  height: 30px;
  cursor: pointer;
  line-height: 30px;
  font-size: 14px;
  background-image: none;
  background-color: #eee;
  border: none;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  text-transform: uppercase;
  transition: color ease 200ms;
}

.button span {
  float: left;
}

.button:hover {
  /* background-color: #eee; */
  color: black;
  transition: color ease 200ms;
}
